.grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(4, auto);
}
.grid div{
    height: 4rem;
    border: 1px;
    border-style: solid;
    margin: 1rem;
}

.header{
    background-color:green;
    grid-column: span 12;
}
.x2x{
    background-color: blue;
    grid-column: span 6;
}
.x1{
    background-color: burlywood;
    grid-column: span 3;
}
.x2{
    background-color: burlywood;
    grid-column: span 7;
}
.x3{
    background-color: burlywood;
    grid-column: span 2;
}
.x4{
    background-color: brown;
    grid-column: span 2;
}
.x5{
    background-color:  brown;
    grid-column: span 10;
}
